@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CabinetGrotesk-Medium';
	src: url("../lib/fonts/CabinetGrotesk-medium.woff2");
}

@font-face {
	font-family: 'CabinetGrotesk-Bold';
	src: url("../lib/fonts/CabinetGrotesk-bold.woff2");
}


@layer base {
	
	:root {
		--nzn-text-2xl: 40px;
		--nzn-text-xl: 24px;
		--nzn-text-base: 20px;
		--nzn-text-sm: 18px;
		--nzn-text-xs: 16px;
		--nzn-line-2xl: 47px;
		--nzn-line-xl: 30px;
		--nzn-line-base: 30px;
		--nzn-line-sm: 22px;
		--nzn-line-xs: 20px;
	}

	@screen lg {
		:root {
			--nzn-text-2xl: 72px;
			--nzn-text-xl: 40px;
			--nzn-text-base: 26px;
			--nzn-text-sm: 20px;
			--nzn-text-xs: 18px;
			--nzn-line-2xl: 67px;
			--nzn-line-xl: 50px;
			--nzn-line-base: 30px;
			--nzn-line-sm: 24px;
			--nzn-line-xs: 22px;
		}
	}
	
	@screen 3xl {
		:root {
			--nzn-text-2xl: 95px;
			--nzn-text-xl: 53px;
			--nzn-text-base: 35px;
			--nzn-text-sm: 20px;
			--nzn-text-xs: 18px;
			--nzn-line-2xl: 119px;
			--nzn-line-xl: 58px;
			--nzn-line-base: 45px;
			--nzn-line-sm: 24px;
			--nzn-line-xs: 22px;
		}
	}
	

	html, body {
		padding: 0;
		margin: 0;
		@apply font-nznMedium bg-oliv-lt tracking-wide
	}
	* {
	box-sizing: border-box;
	margin: 0;
	}

	input,
	button {
		font-size: inherit;
		font-family: inherit;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}

	h1 {
		@apply text-2xl pb-4 font-nznBold
	}

	ul {
		@apply m-0
	}

	.text-content li {
		@apply list-disc  list-inside 
	}

	.text-content p { 
		@apply pb-5
	}
	
	.text-content a {
		@apply underline
	}
}