@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CabinetGrotesk-Medium';
	src: url("../lib/fonts/CabinetGrotesk-medium.woff2");
}

@font-face {
	font-family: 'CabinetGrotesk-Bold';
	src: url("../lib/fonts/CabinetGrotesk-bold.woff2");
}


@layer base {
	
	:root {
		
		--nzn-text-2xl: 65px;
		--nzn-text-xl: 43px;
		--nzn-text-base: 28px;
		--nzn-text-sm: 18px;
		--nzn-text-xs: 16px;
		--nzn-line-2xl: 89px;
		--nzn-line-xl: 48px;
		--nzn-line-base: 38px;
		--nzn-line-sm: 22px;
		--nzn-line-xs: 20px;
		
	}
	@screen md {
		:root {
			--nzn-text-2xl: 85px;
			--nzn-text-xl: 43px;
			--nzn-text-base: 25px;
			--nzn-text-sm: 20px;
			--nzn-text-xs: 18px;
			--nzn-line-2xl: 109px;
			--nzn-line-xl: 48px;
			--nzn-line-base: 35px;
			--nzn-line-sm: 24px;
			--nzn-line-xs: 22px;
		}
	}
	
	@screen 2xl {
		:root {
			--nzn-text-2xl: 95px;
			--nzn-text-xl: 53px;
			--nzn-text-base: 35px;
			--nzn-text-sm: 20px;
			--nzn-text-xs: 18px;
			--nzn-line-2xl: 119px;
			--nzn-line-xl: 58px;
			--nzn-line-base: 45px;
			--nzn-line-sm: 24px;
			--nzn-line-xs: 22px;
		}
	}
	

	html, body {
		padding: 0;
		margin: 0;
		@apply font-medium
	}
	* {
	box-sizing: border-box;
	margin: 0;
	}

	input,
	button {
		font-size: inherit;
		font-family: inherit;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}

	[aria-current='page'] {
		display: none;
	}

	h1 {
		@apply text-2xl pb-4 font-bold
	}

	ul {
		margin: 0;
	}

}